@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Outfit:wght@100..900&display=swap');

:root {
  --grad-color1: #6fe3e1;
  --grad-color2: #619de3;
  --grad-color3: #5257e5;
  --ff-header: 'Outfit';
  --ff-text: 'Boldonse';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background: linear-gradient(
    135deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3)
  );
  font-family: var(--ff-text);
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-container {
  width: clamp(360px, 40%, 600px);
  background: #fff2;
  box-shadow: 0 0 2px #0001;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px #0006;
  font-size: clamp(2.5rem, 4vw, 4rem);
  font-family: var(--ff-header);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  input {
    font-family: var(--ff-header);
    width: 80%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid transparent;
    font-size: 1.2rem;
    font-weight: 500;
    color: #444;

    &::placeholder {
      font-size: 1rem;
    }

    &:focus {
      outline: transparent;
      border: 2px solid #619de3;
    }
  }

  button {
    background: transparent;
    border: 3px solid #fff6;
    padding: 0.4rem 2rem;
    border-radius: 1rem;
    font-family: inherit;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
}

.stats-container {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .current-date {
    color: #fff;
  }

  .top-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    p {
      color: #fff;
      font-size: 4rem;
      font-family: var(--ff-text);
    }

    img {
      opacity: 0;
      width: 80px;
    }
  }

  .mid-section {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 2rem;

    & p:first-child {
      text-decoration: underline;
      font-size: clamp(1.2rem, 2vw, 1rem);
    }

    .mid-right-section {
      font-size: clamp(1.5rem, 3vw, 2.5rem);
      opacity: 0;
    }
    .mid-left-section {
      font-size: clamp(1.5rem, 3vw, 2.5rem);
      opacity: 0;
    }
  }

  .bottom-section {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;

    & p:first-child {
      text-decoration: underline;
      font-size: clamp(1.2rem, 2vw, 1rem);
    }

    .bottom-right-section {
      font-size: clamp(1.5rem, 3vw, 2.5rem);
      opacity: 0;
    }
    .bottom-mid-section {
      font-size: clamp(1.5rem, 3vw, 2.5rem);
      opacity: 0;
    }
    .bottom-left-section {
      font-size: clamp(1.5rem, 3vw, 2.5rem);
      opacity: 0;
    }
  }
}

.tempSlideUp {
  animation: tempSlideUp 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}

.imgSlideLeft {
  animation: imgSlideLeft 0.6s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.2s
    forwards;
}

.popIn1 {
  animation: popIn 1.5s ease-out forwards;
}
.popIn2 {
  animation: popIn 1.5s ease-out 0.1s forwards;
}
.popIn3 {
  animation: popIn 1.5s ease-out 0.2s forwards;
}
.popIn4 {
  animation: popIn 1.5s ease-out 0.3s forwards;
}
.popIn5 {
  animation: popIn 1.5s ease-out 0.4s forwards;
}

@keyframes tempSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes imgSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
